<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataMode" value="Collection"/>
    <add key="PathToSave" value="C:\Users\Vladislav Safarov\Documents\xt_net_web\UserBase.PL.Console\UserBase.dat"/>
  </appSettings>
</configuration>